/* Override some defaults */
html, body {
	font-family:"Pontano",sans-serif;
}

body {
	background-color: #eee;
}

p {
	margin:4px 0px 4px;
	font-family:"Pontano",sans-serif;
}

h1{font-size:28px;line-height:30px;}h1 small{font-size:18px;}
h2{font-size:24px;line-height:26px;}h2 small{font-size:18px;}
h3{line-height:27px;font-size:18px;}h3 small{font-size:14px;}
h4,h5,h6{line-height:18px;}
h4{font-size:14px;}h4 small{font-size:12px;}
h5{font-size:12px;}
h6{font-size:11px;color:#999999;text-transform:uppercase;}

.navbar {
  background-color: #f5f5f5;
  padding: 20px 20px 0px;
	margin: -20px -20px 0px;
}

.content {
	background-color: #fff;
  padding: 20px 20px 5px;
	margin: 0px -40px 0px;
	
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
	
}

.navbar .brand {
	color:#333333;
	font-weight:bold;
	font-size:30px;
}

.navbar .nav>li>a {
	padding:16px 10px 11px;
	line-height:21px;
	color:#333333;
	text-decoration:none;
	font-size: 20px;
}

.container > footer {
  margin-top: 10px;
}

.container > footer p {
  text-align: center; 
}

/*

.page-header {
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}


.topbar .btn {
  border: 0;
}

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

*/
