/* Override some defaults */
html, body {
	font-family:"Pontano",sans-serif;
}

p {
	margin:4px 0px 4px;
	font-family:"Pontano",sans-serif;
}

.navbar .brand {
	color:#000;
	font-weight:bold;
	font-size:30px;
}